<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../public/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <%- include('partials/header') %>

<div class="jumbotron centered" id="home">
  <div class="container">
    <h1 class="display-3"><br>Welcome to MY blog pages </h1>
    <hr>
    <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->
    <a class="btn btn-primary btn-lg btn-block"id="a"  href="/create" role="button">Create Blog</a><br/>
    <a class="btn btn-primary btn-lg btn-block" id="a" href="/viewall" role="button">Viwe all Blog</a><br/>
  </div>
</div>

<%- include('partials/footer') %>

</body>
</html>
